<!DOCTYPE html>
<html ng-app="Bestaurants">

    <head>
        <title>Bestaurants!</title>
        <script src="lib/angular.js"></script>
        <script src="app.js"></script>
        <script src="js/RestaurantsController.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>



    <body>
        <div class="container" ng-controller="RestaurantsCtrl">
            <div class="row" ng-show="restaurants.length">
                <div class="col-md-12">

<!-- Search Function -->
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input ng-model="search[selector]" type="text" class="form-control" placeholder="Search">
                            <!-- <input ng-show="search_param == 'location'" ng-model="search.location" type="text" class="form-control" placeholder="Search">
                            <input ng-show="search_param == 'food_type'" ng-model="search.food_type" type="text" class="form-control" placeholder="Search">
                        </div>
                        <div class="form-group"> -->
                            <select class="form-control" name="search_param" id="searchBy" ng-model="selector">
                                <option value="name">Search by name</option>
                                <option value="location">Search by location</option>
                                <option value="food_type">Search by cuisine</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 main">
                    <h1>Best Restaurant Finder</h1>

<!-- Display list of restaurants -->
                    <h3>All the Restaurants</h3>
                        <ul>
                            <h5 ng-show='!restaurants.length && !filtered.length'>No restaurants listed.  Add some!</h5>
                            <h5 ng-show='restaurants.length && !filtered.length'>No matches found!</h5>
                            <li ng-repeat='restaurant in filtered = (restaurants | filter:search)'>
                                {{restaurant.name}} <a ng-click='deleteRestaurant(restaurant)'><span id='delete'><img src="https://maxcdn.icons8.com/Color/PNG/24/Industry/trash-24.png" title="Trash" width="24"></span></a>
                                <ul>
                                    <li>{{restaurant.location}}</li>
                                    <li>{{restaurant.food_type}}</li>
                                </ul>
                            </li>
                        </ul>

<!-- Form for adding new restaurants -->
                    <form ng-submit="addRestaurant()" class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" ng-model="name" class="form-control" placeholder="Enter restaurant name" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="location" class="form-control" placeholder="Enter address">
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="foodType" class="form-control" placeholder="Enter the type of cuisine">
                        </div>
                        <!-- <div class="form-group">
                            <input type="text" ng-model="price" class="form-control" placeholder="Enter the price range">
                        </div> -->
                        <!-- <div class="form-group">
                            <input type="text" ng-model="date" class="form-control">
                        </div> -->
                        <!-- <div class="form-group">
                            <input type="text" ng-model="image" class="form-control" placeholder="Enter a URL to an image of the restaurant">
                        </div> -->
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
